{% if app.session.flashbag.has('notice') %}
<div class="alert-success">
    {{ app.session.flashbag.get('notice')|join('\n')|trans }}
</div>
{% endif %}

{% if app.session.flashbag.has('error') %}
<div class="flash-error">
    {{ app.session.flashbag.get('error')|join('\n')|trans }}
</div>
{% endif %}